[Desktop Entry]
Name=Rain Drops
Name[tr]=Yağmur Damlaları

X-KDE-PluginInfo-Name=raindrops
X-KDE-PluginInfo-Author=Alahattin Kanlıoğlu
X-KDE-PluginInfo-Email=admins@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA

