[Desktop Entry]
Name=Curious Cat
Name[tr]=Meraklı Kedi

X-KDE-PluginInfo-Name=curiouspisi
X-KDE-PluginInfo-Author=Alahattin Kanlıoğlu
X-KDE-PluginInfo-Email=admins@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA

