[Desktop Entry]
Exec=kcmshell4 panda
Icon=hwinfo
Type=Service
X-KDE-ServiceTypes=KCModule
Categories=Qt;KDE;X-KDE-settings-system;

X-KDE-Library=kcm_panda
X-KDE-Init-Symbol=panda
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=110

Name=Video Driver
Name[de]=Grafiktreiber
Name[en]=Video Driver
Name[es]=Controlador de vídeo
Name[fr]=Pilote vidéo
Name[hu]=Videokártya meghajtó
Name[it]=Video Driver
Name[nl]=Videostuurprogramma
Name[pl]=Sterownik karty graficznej
Name[ru]=Видеодрайвер
Name[sv]=Grafikdrivrutin
Name[tr]=Ekran Kartı Sürücüsü
Name[uk]=Відеодрайвер

Comment=Video Driver Administration
Comment[de]=Administration des Grafiktreibers
Comment[en]=Video Driver Administration
Comment[es]=Administración del controlador de video
Comment[fr]=Paramétrage du pilote vidéo
Comment[hu]=Video meghajtó kezelése
Comment[it]=Gestione Driver Video
Comment[nl]=Beheer videostuurprogramma
Comment[pl]=Administracja sterownikiem Video
Comment[ru]=Управление видеодрайвером
Comment[sv]=Administration av grafikdrivrutin
Comment[tr]=Ekran Kartı Sürücüsü Yönetimi
Comment[uk]=Адміністрування відеодрайверами

X-KDE-Keywords=video,driver,graphics,display
X-KDE-Keywords[de]=Video, Treiber, Grafik, Bildschirm
X-KDE-Keywords[en]=video,driver,graphics,display
X-KDE-Keywords[es]=Video, Controlador, Gráficos, Monitor
X-KDE-Keywords[fr]=vidéo, pilote, graphique, affichage
X-KDE-Keywords[hu]=video,meghajtó,grafikus,kijelző
X-KDE-Keywords[it]=video,driver,graffici,schermo
X-KDE-Keywords[nl]=video,stuurprogramma, grafisch,beeldscherm
X-KDE-Keywords[pl]=video,sterownik,graphics,ekran
X-KDE-Keywords[ru]=видео,драйвер,графика,дисплей
X-KDE-Keywords[sv]=video,drivrutin,grafik,bildskärm
X-KDE-Keywords[tr]=video,sürücü,grafik,ekran
X-KDE-Keywords[uk]=відео,драйвер,графіка,екран
