[Desktop Entry]
Name=Relaxing Flower
Name[tr]=Huzur Çiçeği

X-KDE-PluginInfo-Name=relaxingflower
X-KDE-PluginInfo-Author=Alahattin Kanlıoğlu
X-KDE-PluginInfo-Email=admins@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA

