<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
    <vendor>Pardus</vendor>
    <vendor_url>http://www.pardus.org.tr</vendor_url>
    <icon_name>applications-internet</icon_name>

    <action id="tr.org.pardus.comar.net.filter.set">
        <description>Change firewall configuration</description>
        <description xml:lang="tr">Güvenlik duvarı yapılandırmasını değiştir</description>
        <description xml:lang="nl">Verander firewall configuratie</description>
        <description xml:lang="fr">Modifier la configuration du pare-feu</description>
        <description xml:lang="es">Modificar la configuración del cortafuegos</description>
        <description xml:lang="pl">Zmiana ustawień firewalla</description>
        <description xml:lang="de">Firewallkonfiguration ändern</description>
        <description xml:lang="sv">Redigera brandväggens inställningar</description>
        <description xml:lang="it">Modifica impostazioni del firewall</description>
        <message>System policy prevents changing firewall configuration</message>
        <message xml:lang="tr">Sistem politikası güvenlik duvarı yapılandırmasını değiştirmeyi engelliyor</message>
        <message xml:lang="nl">Systeembeleid voorkomt veranderen van de firewall configuratie</message>
        <message xml:lang="fr">Le mode de gestion du système ne permet pas de modifier la configuration du pare-feu</message>
        <message xml:lang="es">La política del sistema no permite modificar la configuración del cortafuegos</message>
        <message xml:lang="de">Systemrichtlinie verhindert die Änderung der Firewallkonfiguration</message>
        <message xml:lang="sv">Systempolicyn förhindrar redigering av brandväggens inställningar</message>
        <message xml:lang="it">Le politiche di gestione del sistema non permettono di modificare le impostazioni del firewall</message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_active>auth_admin_keep</allow_active>
            <allow_inactive>auth_admin_keep</allow_inactive>
        </defaults>
    </action>

    <action id="tr.org.pardus.comar.net.filter.get">
        <description>View firewall configuration</description>
        <description xml:lang="tr">Güvenlik duvarı yapılandırmasına bak</description>
        <description xml:lang="nl">Bekijk firewall configuratie</description>
        <description xml:lang="fr">Voir la configuration du pare-feu</description>
        <description xml:lang="es">Ver la configuración del cortafuegos</description>
        <description xml:lang="pl">Odczyt ustawień firewalla</description>
        <description xml:lang="de">Firewallkonfiguration ansehen</description>
        <description xml:lang="sv">Visa brandväggens inställningar</description>
        <description xml:lang="it">Vedi impostazioni del firewall</description>
        <message>System policy prevents viewing firewall configuration</message>
        <message xml:lang="tr">Sistem politikası güvenlik duvarı yapılandırmasına bakmayı engelliyor</message>
        <message xml:lang="nl">Systeembeleid voorkomt bekijken firwall configuratie</message>
        <message xml:lang="fr">Le mode de gestion du système ne permet pas de voir la configuration du pare-feu</message>
        <message xml:lang="es">La política del sistema no permite ver la configuración del cortafuegos</message>
        <message xml:lang="de">Systemrichtlinie verhindert die Einsicht der Firewallkonfiguration</message>
        <message xml:lang="sv">Systempolicyn förhindrar visning av brandväggens inställningar</message>
        <message xml:lang="it">Le politiche di gestione del sistema non permettono di vedere le impostazioni del firewall</message>
        <defaults>
            <allow_any>yes</allow_any>
            <allow_active>yes</allow_active>
            <allow_inactive>yes</allow_inactive>
        </defaults>
    </action>
</policyconfig>
