[Desktop Entry]
Exec=kcmshell4 kcm_user-manager
Icon=system-users
Type=Service
ServiceTypes=KCModule

X-KDE-FactoryName=usermanager
X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=user-manager/user-manager.py
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-Weight=70

Name=User Manager
Name[da]=Brugerhåndtering
Name[de]=Benutzerverwaltung
Name[es]=Administrador de Usuarios
Name[fr]=Configuration des utilisateurs
Name[hu]=Felhasználó Kezelő
Name[it]=Gestione utenti
Name[nl]=Gebruikerbeheer
Name[pl]=Menedżer użytkowników
Name[pt_BR]=Gerenciador de Usuários
Name[ru]=Менеджер пользователей
Name[sv]=Användarhanteraren
Name[tr]=Kullanıcı Yöneticisi
Name[uk]=Керування користувачами
Comment=An application for managing user accounts.
Comment[de]=Benutzer hinzufügen und konfigurieren.
Comment[es]=Un programa para administrar cuentas de usuarios
Comment[fr]=Une application de gestion des comptes des utilisateurs.
Comment[hu]=Felhasználói profilok kezelése
Comment[it]=Un'applicazione per gestire gli account.
Comment[nl]=Een toepassing voor het beheren van gebruikersaccounten.
Comment[pl]=Aplikacja do zarządzania kontami użytkowników.
Comment[pt_BR]=Um aplicativo para gerenciamento de usuários
Comment[ru]=Приложение для управления учетными записями пользователей.
Comment[sv]=Ett program för hantering användarkonton.
Comment[tr]=Kullanıcı hesaplarını yönetmek için bir uygulama.
Comment[uk]=Програма для керування користувацькими записами.
X-KDE-Keywords=python user managers
