[Desktop Entry]
Name=Clean Power
Name[tr]=Temiz Enerji

X-KDE-PluginInfo-Name=cleanpower
X-KDE-PluginInfo-Author=Alahattin Kanlıoğlu
X-KDE-PluginInfo-Email=admins@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA

